.body{
    width: 100%;
    display: block;
    box-sizing: border-box;
}
header{
    padding: 70px 100px;
    position: fixed;
}
.nav{
    display: block;
    float: right;
    margin: 22px 0 0 0;
    padding: 0 0 0 525px;
}
a {
    text-decoration: none;
    margin: 15px;
    color: black;
    font-family: Raleway;
    font-weight: bold;
}
h1{
    font-size: 70px;
    font-family: Raleway;
    margin: auto;
}
h2{
    font-size: 40px;
    font-family: Raleway;
}
p{
    font-size: 12px;
    font-family: Raleway;
}
a:first-child{
    text-decoration: overline;
    text-decoration-color: #ff6033;
}
.section-life{
    width: 19%;
    position: fixed;
    padding: 370px 0 0 100px;
}
.fresh-life{
    display: block;
}
.button-get{
    color: white;
    background-color: #ff6033;
    width: 200px;
    height: 60px;
    margin: 20px 0 0 0;
    font-size: 17px;
}
.section-about{
    display: block;
    padding: 0 150px;
    background-color: #00c4c4;
    position: absolute;
}
.text-2{
    width: 40%;
    float: right;
    text-align: left;
    color: white;
    margin: 160px 0 0 0;
}
.shopping{
    width: 100%;
    display: inline-block;
    background-color: #70bfff;
    margin: 648px 0 0 0;
}
.service{
    float: right;
    width: 49%;
}
  