.body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(./img/Img-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  /*height: 100vh;*/
}
.header__box {
  text-align: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 8%;
}
.header__box-title {
  font-size: 48px;
  letter-spacing: 3px;
  font-family: "Josefin Sans";
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 auto;
  padding-top: 124px;
}
.header__box-text {
  font-size: 22px;
  font-family: "Josefin Sans";
  color: white;
  letter-spacing: 5px;
  margin-top: 7px;
  margin-bottom: 47px;
}
.header__box-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__box-action-search {
  letter-spacing: 2px;
  width: 28%;
  border: none;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}
.header__box-action-btn {
  width: 145px;
  height: 60px;
  padding-right: 20px;
  letter-spacing: 2px;
  background-color: #5474fd;
  border: 2px solid white;
  background-image: url(./icon/icon-1.png);
  background-repeat: no-repeat;
  background-position-x: 107px;
  background-position-y: center;
  font-size: 14px;
  font-family: "Aleo";
  color: white;
  text-transform: uppercase;
  text-align: center;
}
.header__box-action-btn:hover {
  background-color: #0828b6;
}
.header__box-action-btn:focus {
  background-color: red;
  color: black;
}
.header__box-current-text {
  font-size: 14px;
  letter-spacing: 2px;
  font-family: "Josefin Sans";
  color: white;
  position: relative;
  margin-top: 120px;
}
.header__box-current-scroll {
  content: url(./icon/scroll.png);
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #5474fd;
  width: 100%;
  height: 80px;
  margin-top: 8%;
}
.header__nav-logo-link {
  font-family: "Josefin Sans";
  color: white;
  font-size: 24px;
  letter-spacing: 2px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding-right: 14px;
}
.header__nav-logo-link:hover {
  background-color: #0828b6;
}
.header__nav-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__nav-control-list {
  list-style-type: none;
  margin-left: 42px;
}
.header__nav-control-link {
  font-size: 14px;
  font-family: "Aleo";
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding-left: 3px;
}

#checkbox-menu, .toggle {
  display: none;
}

@media screen and (max-width: 1024px) {
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 500px) {
  .header__nav {
    display: block;
    text-align: center;
  }
  .header__nav-logo {
    float: left;
    display: block;
    padding-top: 30px;
    padding-left: 20px;
  }
  .header__nav-control {
    display: block;
    margin-top: -50px;
    margin-left: 52%;
    height: 0;
    -webkit-transition: height 0.3s linear;
    transition: height 0.3s linear;
  }
  .header__nav-control-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    width: 50%;
    opacity: 0;
    visibility: hidden;
  }
  .header__nav-control-link {
    font-size: 10px;
  }

  .toggle {
    display: block;
    text-align: right;
    font-size: 50px;
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
    padding: 0%;
    margin: 0;
  }

  .toggle:hover {
    color: white;
  }

  #checkbox-menu:checked + label .touch li {
    opacity: 1;
    visibility: visible;
    -webkit-transition: all 0.7s linear;
    transition: all 0.7s linear;
  }

  #checkbox-menu:checked + label .touch {
    height: 60px;
  }
}
.wrap {
  background-image: url(./img/Img-2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /*height: 100vh;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 7%;
}
.wrap__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 7%;
  margin-left: 18.5%;
}
.wrap__box-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 38%;
  padding-top: 45px;
}
.wrap__box-inner-title {
  font-size: 36px;
  font-family: "Aleo";
  color: white;
}
.wrap__box-inner-text {
  font-size: 16px;
  font-family: "Myriad Pro";
  color: #e8e8e8;
  line-height: 1.625;
  letter-spacing: 1.4px;
}
.wrap__box-inner-btn {
  font-size: 16px;
  font-family: "Aleo";
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.625;
  width: 225px;
  height: 60px;
  background-color: #5474fd;
  border: none;
  margin-top: 30px;
}
.wrap__box-inner-btn:hover {
  background-color: #0828b6;
}
.wrap__box-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 6%;
}
.wrap__box-img-two {
  margin-left: 73%;
}

@media screen and (max-width: 1024px) {
  .wrap__box {
    display: block;
  }
  .wrap__box-inner {
    :left: 20%;
  }
  .wrap__box-img-one, .wrap__box-img-two {
    width: 50%;
    margin: 0;
  }
}
@media screen and (max-width: 500px) {
  .wrap__box {
    display: block;
    text-align: center;
  }
  .wrap__box-inner {
    display: block;
    width: 100%;
    position: absolute;
    top: 30%;
    left: 50%;
  }
  .wrap__box-inner-text {
    font-size: 12px;
  }
  .wrap__box-inner-btn {
    font-size: 12px;
    width: 185px;
    height: 50px;
  }
  .wrap__box-img {
    display: block;
    top: 76%;
    left: 51%;
    width: 60%;
  }
  .wrap__box-img-two {
    display: block;
    padding-left: 30px;
  }
}
.box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 78vh;
  background-color: #333333;
}
.box__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 95%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.box__item-decor-line {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 60px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-bottom: 115px;
  margin: 0 -100px;
}
.box__item-decor-line::before {
  content: "";
  border-top: 1px dashed white;
  border-radius: 50%;
  width: 465px;
  height: 498px;
  position: absolute;
  top: 26%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}
.box__item-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.box__item-image-text {
  min-width: 280px;
  font-size: 36px;
  font-family: "Aleo";
  color: white;
  line-height: 0.722;
  text-align: center;
  padding-top: 40px;
}

@media screen and (max-width: 1024px) {
  .box__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .box__item-image {
    width: 18%;
  }
  .box__item-image-text {
    font-size: 17px;
  }
}
@media screen and (max-width: 500px) {
  .box__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .box__item-image {
    padding: 10px;
  }
  .box__item-image-icon {
    width: 20%;
  }
  .box__item-image-text {
    font-size: 14px;
  }
  .box__item-decor-line {
    display: none;
  }
}
.wrapper-one {
  background-image: url(./img/Img-3.png);
  background-repeat: no-repeat;
  /*height: 100vh;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 18.5%;
  padding-top: 12.8%;
  padding-bottom: 45px;
}
.wrapper-one__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 480px;
  height: 320px;
  background: rgba(35, 35, 35, 0.8);
  color: white;
  padding: 30px;
}
.wrapper-one__box-text-one {
  font-size: 20px;
  font-family: "Josefin Sans";
  margin-bottom: 5px;
}
.wrapper-one__box-title {
  font-size: 20px;
  font-family: "Josefin Sans";
  text-transform: uppercase;
  margin-bottom: 10px;
}
.wrapper-one__box-text-two {
  font-size: 16px;
  font-family: "Myriad Pro";
}
.wrapper-one__box-btn {
  width: 225px;
  height: 60px;
  background-color: #5474fd;
  border: none;
  color: white;
  font-size: 16px;
  font-family: "Aleo";
  text-transform: uppercase;
  margin-top: 45px;
}

@media screen and (max-width: 1024px) {
  .wrapper-one__box {
    width: 50%;
  }
}
@media screen and (max-width: 500px) {
  .wrapper-one__box {
    width: 70%;
    top: 40%;
    left: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .wrapper-one__box-btn {
    width: 35%;
    height: 15%;
    font-size: 12px;
  }
}
.wrapper-two {
  background-image: url(./img/Img-4.png);
  background-repeat: no-repeat;
  /*height: 100vh;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 51%;
  padding-top: 13%;
  padding-bottom: 42px;
}
.wrapper-two__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 480px;
  height: 320px;
  background: rgba(35, 35, 35, 0.8);
  color: white;
  padding: 30px;
}
.wrapper-two__box-text-one {
  font-size: 20px;
  font-family: "Josefin Sans";
  margin-bottom: 5px;
}
.wrapper-two__box-title {
  font-size: 20px;
  font-family: "Josefin Sans";
  text-transform: uppercase;
  margin-bottom: 10px;
}
.wrapper-two__box-text-two {
  font-size: 16px;
  font-family: "Myriad Pro";
}
.wrapper-two__box-btn {
  width: 221px;
  height: 60px;
  background-color: #5474fd;
  border: none;
  color: white;
  font-size: 16px;
  font-family: "Aleo";
  text-transform: uppercase;
  margin-top: 45px;
}
.wrapper-two__box-btn:hover {
  background-color: #0828b6;
}

@media screen and (max-width: 1024px) {
  .wrapper-two__box {
    width: 50%;
  }
}
@media screen and (max-width: 500px) {
  .wrapper-two__box {
    width: 70%;
    top: 40%;
    left: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .wrapper-two__box-btn {
    width: 35%;
    height: 15%;
    font-size: 12px;
  }
}
.container {
  background-image: url(./img/Img-5.png);
  background-repeat: no-repeat;
  /*height: 100vh;*/
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.container__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 87px;
  margin-bottom: 184px;
}
.container__box-title {
  font-size: 36px;
  font-family: "Aleo";
  color: white;
  text-align: center;
  margin-bottom: 87px;
}
.container__box-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container__box-desc-img {
  width: 25%;
  margin-left: 19%;
}
.container__box-desc-item {
  width: 32.5%;
  padding: 47px;
  background-color: #333333;
  color: white;
}
.container__box-desc-item-title {
  font-size: 20px;
  font-family: "Josefin Sans";
  text-transform: uppercase;
  margin-top: 0;
}
.container__box-desc-item-text {
  font-size: 16px;
  font-family: "Myriad Pro";
  line-height: 1.5;
}
.container__box-desc-item-text-lead {
  font-size: 36px;
  font-family: "FontAwesome";
  color: #5474fd;
  vertical-align: super;
}

@media screen and (max-width: 1440px) {
  .container {
    display: block;
    padding-left: 20px;
  }
  .container__box {
    margin: 0;
  }
}
@media screen and (max-width: 500px) {
  .container__box-desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container__box-desc-img {
    width: 80%;
  }
  .container__box-desc-item {
    padding: 20px;
    width: 72%;
    height: auto;
  }
}
.footer {
  background-color: black;
  width: 100%;
  height: 66vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 65px;
}
.footer__logo-title {
  font-size: 24px;
  font-family: "JosefinSans";
  color: white;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.footer__logo-text {
  font-size: 16px;
  font-family: "JosefinSans";
  color: white;
  letter-spacing: 1px;
  text-align: center;
}
.footer__icon {
  margin-top: 10px;
}
.footer__icon-svg {
  padding-right: 15px;
}