.body{
    box-sizing: border-box;
    margin: 0 auto;
    transition: all 1s; 
}
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(./img/Img-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 740px;
    &__box{
        text-align: center;
        &-title{
            font-size: 48px;
            letter-spacing: 3px;
            font-family: "Josefin Sans";
            color: rgb(255, 255, 255);
            font-weight: bold;
            text-transform: uppercase;
            margin: 0 auto;
            padding-top: 124px;
        }
        &-text{
            font-size: 22px;
            font-family: "Josefin Sans";
            color: rgb(255, 255, 255);
            letter-spacing: 5px;
            margin-top: 7px;
            margin-bottom: 47px;
        }
        &-action{
            display: flex;
            justify-content: center;
            &-search{
                letter-spacing: 2px;
                width: 500px;
                height: 60px;
                border: none;
                text-align: center;
                padding-left: 10px;
                padding-right: 10px;
            }
            &-btn{
                width: 145px;
                height: 60px;
                padding-right: 20px;
                letter-spacing: 2px;
                background-color: #5474fd;
                border: 2px solid white;
                background-image: url(./icon/icon-1.png);
                background-repeat: no-repeat;
                background-position-x: 104px;
                background-position-y: center;
                font-size: 14px;
                font-family: "Aleo";
                color: rgb(255, 255, 255);
                text-transform: uppercase;
                text-align: center;
            }
            &-btn:hover{
                background-color:#0828b6;
            }
            &-btn:focus{
                background-color:red;
                color: black;
            }
        }  
        &-current-text{
            font-size: 14px;
            letter-spacing: 2px;
            font-family: "Josefin Sans";
            color: rgb(255, 255, 255);
            position: relative;
            margin-top: 120px;
        }
        &-current-scroll{
            content: url(./icon/scroll.png);
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0%);
        }
    }
    &__nav{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: #5474fd;
        width: 100%;
        height: 80px;
        position: relative;
        z-index: 1;
        top: 19%;
        &-logo-link{
            font-family: "Josefin Sans";
            color: white;
            font-size: 24px;
            letter-spacing: 2px;
            text-align: center;
            text-decoration: none; 
            text-transform: uppercase;
            padding-right: 14px;
        }
        &-logo-link:hover{
            background-color: #0828b6;
        }
        &-control{
            display: flex;
            &-list{
                list-style-type: none;
                margin-left: 42px;
            }
            &-link{
                font-size: 14px;
                font-family: "Aleo";
                text-decoration: none;
                color: white;
                text-transform: uppercase;
                padding-left: 3px;
            }
        }
    }
}
#checkbox-menu, .toggle{
    display: none;
}
@media screen and (max-width: 1024px){
    .header__box-action{
        display: inline;
        &-search{
            width: 250px;
        }
    }
    .header__nav{
        display: flex;
        text-align: center;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
}
@media screen and (max-width: 500px){
    .header__nav{
        display: block;
        text-align: center;
        &-logo{
            float: left;
            display: block;
            padding-top: 30px;
            padding-left: 20px;
        }
        &-control{
            display: block;
            margin-top: -50px;
            margin-left: 52%;
            height: 0;
            transition: height .3s linear;
            &-list{
                display: flex;
                align-self: start;
                width: 50%;
                opacity: 0;
                visibility: hidden;
            }
            &-link{
                font-size: 10px;
            }
        }
    }
    .toggle{
        display: block;
        text-align: right;
        font-size: 50px;
        transition: all .1s linear;
        padding: 0%;
        margin: 0;
    }
    .toggle:hover{
        color: white;
    }
    #checkbox-menu:checked + label .touch li{
        opacity: 1;
        visibility: visible;
        transition: all .7s linear;
    }
    #checkbox-menu:checked + label .touch{
        height: 60px;
    }
}
.wrap{
    background-image: url(./img/Img-2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 715px;
    position: relative;
    display: flex;
    &__box{
        display: flex;
        &-inner{
            position: absolute;
            top: 56%;
            left: 34%;
            transform: translate(-50%, -50%);
            width: 31%;
            &-title{
                font-size: 36px;
                font-family: "Aleo";
                color: rgb(255, 255, 255);
                padding-bottom: 25px;
            }
            &-text{
                font-size: 16px;
                font-family: "Myriad Pro";
                color: rgb(232, 232, 232);
                line-height: 1.625;
                letter-spacing: 1.5px;
            }
            &-btn{
                font-size: 16px;
                font-family: "Aleo";
                color: rgb(255, 255, 255);
                text-transform: uppercase;
                letter-spacing: 1px;
                line-height: 1.625;
                width: 225px;
                height: 60px;
                background-color: #5474fd;
                border: none;
                margin-top: 30px;
            }
            &-btn:hover{
                background-color: #0828b6;
            }
        }
        &-img{
            position: absolute;
            top: 54%;
            left: 70%;
            transform: translate(-50%, -50%);
            &-two{
                padding-left: 120px;
            }
        }
    }
}
@media screen and (max-width: 1024px){
    .wrap__box{
        display: block;
        &-inner{
            :left:20%;
        }
        &-img{
            &-one, &-two{
                padding: 0;
                width: 80%;
            }

        }
    }
}
@media screen and (max-width: 500px){
    .wrap__box{
        display: block;
        text-align: center;
        &-inner{
            display: block;
            width: 100%;
            position: absolute;
            top: 30%;
            left: 50%;
            &-text{
                font-size: 12px;
            }
            &-btn{
               font-size: 12px; 
               width: 185px;
               height: 50px;
            }
        }
        &-img{
            display: block;
            top: 76%;
            left: 51%;
            width: 60%;
            &-two{
                display: block;
                padding-left: 30px;
            }
        }
    }
}
.box{
    box-sizing: border-box;
    width: 100%;
    height: 348px;
    background-color: #333333;
    &__item{
        display: flex;
        height: inherit;
        justify-content: center;
        align-items: center;
        position: relative;
        &-decor-line{
            position: relative;
            overflow: hidden;
            width: 170px;
            height: 60px;
            align-self:flex-start;
            padding-bottom: 115px;
        }
        &-decor-line::before{
            content: "";
            border-top: 1px dashed white;
            border-radius: 50%;
            width: 440px;
            height: 498px;
            position: absolute;
            top: 32%;
            left: 50%;
            transform: translate(-50%, 0%);
        }
        &-image{
            display: flex;
            flex-direction: column;
            align-items: center;
            &-text{
                min-width: 212px;
                font-size: 36px;
                font-family: "Aleo";
                color: white;
                line-height: 0.722;
                text-align: center;
                padding-top: 35px;

            }
        }
    }

}
@media screen and (max-width: 1024px){
    .box__item{
        display: flex;
        &-image{
            width: 18%;
            &-text{
                font-size: 17px;
            }
        }
    }
}
@media screen and (max-width: 500px){
    .box__item{
        display: flex;
        flex-direction: column;
        &-image{
            padding: 10px;
            &-icon{
                width: 20%;
            }
           &-text{
               font-size: 14px;
           } 
        }
        &-decor-line{
            display: none;
        }
    }
}
.wrapper-one{
    background-image: url(./img/Img-3.png);
    background-repeat: no-repeat;
    height: 700px;
    &__box{
        position: relative;
        top: 60%;
        left: 34%;
        transform: translate(-50%, -50%);
        width: 480px;
        height: 320px;
        background: rgba($color: #232323, $alpha: 0.8);
        color: white;
        padding: 30px;
        &-text-one{
            font-size: 20px;
            font-family: "Josefin Sans";
        }
        &-title{
            font-size: 20px;
            font-family: "Josefin Sans";
            text-transform: uppercase;
        }
        &-text-two{
            font-size: 16px;
            font-family: "Myriad Pro";
        }
        &-btn{
            width: 220px;
            height: 60px;
            background-color: #5474fd;
            border: none;
            color: white;
            font-size: 16px;
            font-family: "Aleo";
            text-transform: uppercase;
            margin-top: 45px;
        }
    }
}
@media screen and (max-width: 1024px){
    .wrapper-one__box{
        width: 30%;
    }
}
@media screen and (max-width: 500px){
    .wrapper-one__box{
        width: 70%;
        top: 40%;
        left: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        &-btn{
            width: 35%;
            height: 15%;
            font-size: 12px;
        }
    }
}
.wrapper-two{
    background-image: url(./img/Img-4.png);
    background-repeat: no-repeat;
    height: 700px;
    &__box{
        position: relative;
        top: 60%;
        left: 66%;
        transform: translate(-50%, -50%);
        width: 480px;
        height: 320px;
        background: rgba($color: #232323, $alpha: 0.8);
        color: white;
        padding: 30px;
        &-text-one{
            font-size: 20px;
            font-family: "Josefin Sans";
        }
        &-title{
            font-size: 20px;
            font-family: "Josefin Sans";
            text-transform: uppercase;
        }
        &-text-two{
            font-size: 16px;
            font-family: "Myriad Pro";
        }
        &-btn{
            width: 225px;
            height: 60px;
            background-color: #5474fd;
            border: none;
            color: white;
            font-size: 16px;
            font-family: "Aleo";
            text-transform: uppercase;
            margin-top: 45px;
        }
        &-btn:hover{
            background-color:#0828b6;
        }
    }
}
@media screen and (max-width: 1024px){
    .wrapper-two__box{
        width: 30%;
    }
}
@media screen and (max-width: 500px){
    .wrapper-two__box{
        width: 70%;
        top: 40%;
        left: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        &-btn{
            width: 35%;
            height: 15%;
            font-size: 12px;
        }
    }
}
.container{
    background-image: url(./img/Img-5.png);
    background-repeat: no-repeat;
    height: 730px;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__box{
        display: flex;
        flex-direction: column;
        padding-bottom: 114px;
        &-title{
            font-size: 36px;
            font-family: "Aleo";
            color: white;
            text-align: center;
            margin-bottom: 87px;
        }
        &-desc{
            display: flex;
            align-items: center;
            &-item{
                width: 575px;
                height: 185px;
                padding: 47px;
                background-color: #333333;
                color: white;
                &-title{
                    font-size: 20px;
                    font-family: "Josefin Sans";
                    text-transform: uppercase;
                    margin-top: 0;
                }
                &-text{
                    font-size: 16px;
                    font-family: "Myriad Pro";
                    line-height: 1.5;
                    &-lead{
                        font-size: 36px;
                        font-family: "FontAwesome";
                        color: rgb(84, 116, 253);
                        vertical-align: super;
                    }
            }
            }
        }
    }

}
@media screen and (max-width: 1440px){
    .container{
        display: block;
        padding-left: 20px;
    }
}
@media screen and (max-width: 500px){
    .container__box-desc{
        display: flex;
        flex-direction: column;
        align-items: center;
        &-img{
            width: 80%;
        }
        &-item{
            padding: 20px;
            width: 72%;
            height: auto;
        }
    }
}
.footer{
    background-color: black;
    width: 100%;
    height: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__logo{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 65px;
        &-title{
            font-size: 24px;
            font-family: "JosefinSans";
            color: white;
            letter-spacing: 3px;
            text-transform: uppercase;
            margin: 0;
        }
        &-text{
            font-size: 16px;
            font-family: "JosefinSans";
            color: white;
            letter-spacing: 1px;
            text-align: center;
        }
    }    
    &__icon{
        margin-top: 10px;
        &-svg{
            padding-right: 15px;
        }
    
    }
}