.body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(./img/Img-1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 740px;
  margin-bottom: -1px;
}

.header__box {
  text-align: center;
}

.header__box-title {
  font-size: 48px;
  font-family: "Josefin Sans";
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 auto;
}

.header__box-text {
  font-size: 22px;
  font-family: "Josefin Sans";
  color: white;
  letter-spacing: 5px;
  margin-top: 6px;
  margin-bottom: 47px;
}

.header__box-action-search {
  position: relative;
  letter-spacing: 2px;
  width: 500px;
  height: 60px;
  border: none;
  text-align: center;
}

.header__box-action-btn {
  position: absolute;
  width: 145px;
  height: 60px;
  padding-right: 20px;
  background-color: #5474fd;
  border: 2px solid white;
  background-image: url(./icon/icon-1.png);
  background-repeat: no-repeat;
  background-position-x: 103px;
  background-position-y: center;
  font-size: 14px;
  font-family: "Aleo";
  color: white;
  text-transform: uppercase;
  text-align: center;
}

.header__box-action-btn:hover {
  background-color: #0828b6;
}

.header__box-activ-btn:focus {
  background-color: red;
  color: black;
}

.header__box-current-text {
  font-size: 14px;
  letter-spacing: 2px;
  font-family: "Josefin Sans";
  color: white;
  position: relative;
  margin-top: 120px;
}

.header__box-current-scroll {
  content: url(./icon/scroll.png);
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #5474fd;
  width: 100%;
  height: 80px;
  position: relative;
  top: 22%;
}

.header__nav-logo-link {
  font-family: "Josefin Sans";
  color: white;
  font-size: 24px;
  letter-spacing: 1px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.header__nav-logo-link:hover {
  background-color: #0828b6;
}

.header__nav-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav-control-list {
  list-style-type: none;
  margin-right: 60px;
}

.header__nav-control-link {
  font-size: 14px;
  font-family: "Aleo";
  text-decoration: none;
  color: white;
}

.wrap {
  background-image: url(./img/Img-2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 680px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrap__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrap__box-inner {
  position: absolute;
  top: 55%;
  left: 31%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 24%;
}

.wrap__box-inner-title {
  font-size: 36px;
  font-family: "Aleo";
  color: white;
}

.wrap__box-inner-text {
  font-size: 16px;
  font-family: "Myriad Pro";
  color: #e8e8e8;
  line-height: 1.625;
}

.wrap__box-inner-btn {
  font-size: 16px;
  font-family: "Aleo";
  color: white;
  text-transform: uppercase;
  line-height: 1.625;
  width: 225px;
  height: 60px;
  background-color: #5474fd;
  border: none;
  margin-top: 20px;
}

.wrap__box-inner-btn:hover {
  background-color: #0828b6;
}

.wrap__box-img {
  position: absolute;
  top: 53%;
  left: 70%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.wrap__box-img-two {
  padding-left: 120px;
}

.box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 335px;
  background-color: #333333;
}

.box__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: inherit;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.box__item-decor-line {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 60px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-bottom: 115px;
}

.box__item-decor-line::before {
  content: "";
  border-top: 1px dashed white;
  border-radius: 50%;
  width: 460px;
  height: 498px;
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

.box__item-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box__item-image-text {
  min-width: 212px;
  font-size: 36px;
  font-family: "Aleo";
  color: white;
  line-height: 0.722;
  text-align: center;
  padding-top: 40px;
}

.wrapper-one {
  background-image: url(./img/Img-3.png);
  background-repeat: no-repeat;
  height: 700px;
  margin-top: -1px;
}

.wrapper-one__box {
  position: relative;
  top: 60%;
  left: 34%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 480px;
  height: 320px;
  background: rgba(35, 35, 35, 0.8);
  color: white;
  padding: 30px;
}

.wrapper-one__box-text-one {
  margin-top: 50px;
  font-size: 20px;
  font-family: "Josefin Sans";
}

.wrapper-one__box-title {
  font-size: 20px;
  font-family: "Josefin Sans";
  text-transform: uppercase;
}

.wrapper-one__box-text-two {
  font-size: 16px;
  font-family: "Myriad Pro";
}

.wrapper-one__box-btn {
  width: 225px;
  height: 60px;
  background-color: #5474fd;
  border: none;
  color: white;
  font-size: 16px;
  font-family: "Aleo";
  text-transform: uppercase;
  margin-top: 34px;
}

.wrapper-two {
  background-image: url(./img/Img-4.png);
  background-repeat: no-repeat;
  height: 700px;
  margin-top: -1px;
}

.wrapper-two__box {
  position: relative;
  top: 60%;
  left: 66%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 480px;
  height: 320px;
  background: rgba(35, 35, 35, 0.8);
  color: white;
  padding: 30px;
}

.wrapper-two__box-text-one {
  margin-top: 50px;
  font-size: 20px;
  font-family: "Josefin Sans";
}

.wrapper-two__box-title {
  font-size: 20px;
  font-family: "Josefin Sans";
  text-transform: uppercase;
}

.wrapper-two__box-text-two {
  font-size: 16px;
  font-family: "Myriad Pro";
}

.wrapper-two__box-btn {
  width: 225px;
  height: 60px;
  background-color: #5474fd;
  border: none;
  color: white;
  font-size: 16px;
  font-family: "Aleo";
  text-transform: uppercase;
  margin-top: 34px;
}

.wrapper-two__box-btn:hover {
  background-color: #0828b6;
}

.container {
  background-image: url(./img/Img-5.png);
  background-repeat: no-repeat;
  height: 730px;
  position: relative;
}

.container__box {
  position: absolute;
  top: 42%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.container__box-title {
  font-size: 36px;
  font-family: "Aleo";
  color: white;
  text-align: center;
  margin-bottom: 68px;
}

.container__box-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__box-desc-item {
  width: 565px;
  height: 185px;
  padding: 50px;
  background-color: #333333;
  color: white;
}

.container__box-desc-item-title {
  font-size: 20px;
  font-family: "JosefinSans";
}

.container__box-desc-item-text {
  font-size: 16px;
  font-family: "Myriad Pro";
}

.container__box-desc-item-text-lead {
  font-size: 36px;
  font-family: "FontAwesome";
  color: #5474fd;
  vertical-align: super;
}

.footer {
  background-color: black;
  width: 100%;
  height: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo-title {
  font-size: 24px;
  font-family: "JosefinSans";
  color: white;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.footer__logo-text {
  font-size: 16px;
  font-family: "JosefinSans";
  color: white;
  text-align: center;
}

.footer__icon {
  margin-top: 30px;
}

.footer__icon-svg {
  padding-right: 12px;
}
/*# sourceMappingURL=style.css.map */