body{
    display: flex;
    background-color: black;
    justify-content: center;
    margin: 0 auto;
}
section{
    background-color: #f3d579;
    padding: 50px 5px;
    margin: 210px 160px;
}
div{
    background-color: white;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 450px;
    width: 360px;
    margin-right: 10px;
}
h1 {
    font-size: 70px;
    color: rgb(2, 153, 91);
    font-weight: bold;
}
h2 {
    font-size: 56px;
    margin: 10px 0;
}
p{
    text-align: center;
    width: 115px;
    padding-bottom: 30px;
}
.img-cup{
    position: relative;
}
.img-bean{
    position: absolute;
    margin-top: 35px;
    padding-right: 15px;
}
.img-smoke{
    padding-bottom: 10px;
}
.coffee-2{
    height: 500px;
}
  

  
  